@media (max-width:991px){
       html{
              font-size: 80%;
       }
       .header{
              padding: 1.5rem 2rem;
              .navbar{
                     position: absolute;
                     top:100%;right:-100%;
                     background: #fff;
                     width: 15rem;
                     height: calc(100vh - 9.5rem);
                     a{
                            color: var(--black);
                            display: block;
                            margin: 1.5rem;
                            padding: .5rem;
                            font-size: 1.7rem;
                     }
                     &.active{
                            right: 0;
                            transition: .5s linear;
                     }
              }
              #menu-btn{
                     display: inline-block;
              }
              .search-form{
                     width: 90%;
                     right: 2rem;
                     transition: 0.5s linear;
              }
       }
}